.attack-container {
  text-align: center;
  padding: 20px;
}

.attack-header {
  font-family: 'Pokemon Solid';
  font-size: 3em;
  color: #ffcb05;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.displayed-moves-header {
  font-family: 'Pixel Pokemon';
  font-size: 1.5em;
  color: #ffcb05;
  margin-top: 20px;
}

.displayed-moves-list{
  flex: 1; /* Equal width for both move containers */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  border: 2px solid #ffcb05; /* Yellow border */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin: 0 0.5em; /* Add margin for spacing */
  position: relative; 
  color:#ffcb05;
  font-size: 2em;
}

.attack-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Horizontally center the buttons */
}

.attack-button {
  cursor: pointer;
  font-family: 'Pixel Pokemon', sans-serif;
  font-size: 20px;
  color: #fdfdfd;
  background: linear-gradient(to bottom, #db3131, #611b1b);
  border-radius: 10px;
  border: 2px solid #000000;
  padding: 0.5em 1em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin: 10px;
}

.attack-button:hover {
  background: linear-gradient(to bottom, #611b1b, #db3131);
}
