/* Reset default styles */
html, body {
  margin: 0;
  padding: 0;
}

/* Background color */
body {
  background: #2f609c;
}

/* Font faces */
@font-face {
  font-family: 'Pokemon Solid';
  src: url('./font/PocketMonk-15ze.ttf'); 
}

@font-face {
  font-family: 'Pixel Pokemon';
  src: url('./font/PokemonGb-RAeo.ttf');
}

/* Center container */
/* Center container */
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Selected Pokemon section */
.selected-pokemon {
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center; /* Center the image horizontally */
  justify-content: center; /* Center the image vertically */
}
.selected-img{
  width: 100px;
  height: 200px;
}

/* Button styles */
.selected-moves-container button,
.moves-container button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "pixel pokemon", sans-serif;
  color: #fdfdfd;
  background: linear-gradient(to bottom, #db3131, #611b1b);
  border-radius: 10px;
  border: 2px solid #000000;
  font-size: 20px; /* Decreased font size */
  height: 2.5em; /* Decreased height */
  width: 12em; /* Decreased width */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  margin: 15px; /* Increased margin for more spacing */
}

.move-button,
.selected-move-button {
  margin: 8px; /* Adjusted margin for even more spacing */
}

/* Headers */
.moves-container-header,
.selected-moves-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  font-family: pixel pokemon;
  font-size: 1.5em;
  color: #ffcb05;
  margin: 10px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -1px -1.5px 4px #e91c1c;
}

/* Selected Moves section */
.selected-moves-container {
  display: flex;
  flex-direction: column; /* Change flex-wrap to column */
  align-items: center;
  justify-content: center;
  margin-top: 1em; /* Add margin to center vertically */
}

.selected-move {
  display: flex;
  align-items: center;
  position: relative;
}

.selected-moves-container .remove-move-button {
  color: #c3c3c3;
  border: 1px solid #000000;
  padding: 0.2em 0.4em;
  font-size: 0.8em;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

/* Move List section */
.move-list-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add space between the two containers */
  margin-top: 2em;
  width: 100%; /* Make sure the containers span the full width */
}

.moves-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align moves */
  margin-right: 2em; /* Add margin to move the moves more to the right */
}

.selected-moves-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align selected moves */
  margin-top: 1em;
}

/* Responsive adjustments */
@media screen and (max-width: 700px) {
  .selected-moves-container button,
  .moves-container button {
    font-size: 16px;
    border: 1px solid #000000;
    height: 40px;
    width: 120px;
  }

  .selected-moves-container {
    padding: 20px;
  }

  .selected-move {
    margin: 20px;
  }

  .selected-moves-container .remove-move-button {
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 0;
  }
}
