/* signupForm.css */
@font-face {
    font-family: "Pokemon Solid";
    src: url("./font/PocketMonk-15ze.ttf");
  }
  @font-face {
    font-family: "Pixel Pokemon";
    src: url("./font/PokemonGb-RAeo.ttf");
  }
  
  .signup-container {
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pokemon-form {
    background-color: rgba(9, 20, 9, 0.9);
    padding: 30px; /* Increased padding for more spacing */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center; /* Center the content horizontally */
  }
  
  .pokemon-label,
  p {
    font-size: 24px; /* Larger font size for the label */
    font-weight: bold;
    color: #fff200; /* Pokémon Yellow color */
    margin-bottom: 20px;
    /* More space between label and inputs */
  }
  
  .pokemon-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0; /* Adjusted margin to 10px top and bottom, 0 on the sides */
    width: 100%; /* Make inputs take up full width */
    
  }
  
  .pokemon-button,
  .pokemon-signup-link {
    background: linear-gradient(to bottom, #db3131, #611b1b); /* Pokémon Red gradient */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #e3d6d6;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-family: "Pixel Pokemon", sans-serif; /* Apply custom font */
  }
  
  .pokemon-button:hover {
    background: linear-gradient(to bottom, #c92727, #501818); /* Darker shade of red */
  }
  
  .pokemon-alert {
    background-color: #ff6666; /* Pokémon Pink color */
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
  }